@import "tailwindcss";

@layer base {
  @import "./minireset.min.css";

  @theme {
    --color-primary: #000000;
    --color-primary-hover: #404040;
    --color-secondary: #737373;
    --color-secondary-hover: #e5e5e5;
    --color-tertiary: #e5e5e5;
    --color-tertiary-hover: #f5f5f5;
  }

  body {
    font-family:
      var(--font-roboto), var(--font-noto-sans-kr), dotum, 돋움, sans-serif;
  }

  button {
    cursor: pointer;
  }

  /* spinner animation */
  .spinner_P7sC {
    transform-origin: center;
    animation: spinner_svv2 0.75s infinite linear;
  }
  @keyframes spinner_svv2 {
    100% {
      transform: rotate(360deg);
    }
  }
}
