@import "tailwindcss";

@layer base {
  @import "./minireset.min.css";

  @theme {
    --color-primary: var(--color-blue-600);
    --color-primary-hover: var(--color-blue-400);
    --color-secondary: #737373;
    --color-secondary-hover: #e5e5e5;
    --color-tertiary: #e5e5e5;
    --color-tertiary-hover: #fafafa;
  }

  body {
    font-family:
      var(--font-roboto), var(--font-noto-sans-kr), dotum, 돋움, sans-serif;
  }

  button {
    cursor: pointer;

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }

  /* spinner animation */
  .spinner_P7sC {
    transform-origin: center;
    animation: spinner_svv2 0.75s infinite linear;
  }
  @keyframes spinner_svv2 {
    100% {
      transform: rotate(360deg);
    }
  }
}
